* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Banner Section Styles */
.banner {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-blank {
    width: 100%;
}

.main-banner {
    width: 1140px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.banner-title {
    font-family: 'Work Sans';
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 32px;
    color:#ffffff;

}

.banner-description {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    color:#e9e9e9;
    padding-left: 140px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans';
    background: #FFFFFF;
    color: #005FAC;
    border-radius: 5px;
    border: 0;
}
/* About Me Section Styles */
.about-me{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.about-title{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 5px;
}
.about-description{
    font-size: 16px;
    color:#737272;
    padding:0 200px;
    margin-bottom: 60px;
}
.self-container{
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 140px;
}
.self-container img{
    width: 350px;
    height: 350px;
    border-radius: 400px;
    border:10px double #005FAC;
    margin-left: 50px;
}
.self-details .self-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
}
.self-details .color-text{
    color:#005FAC;
}
.self-details .self-sub-title{
    font-size: 20px;
    color: #737272;
    margin-bottom: 20px;
}
.self-details .self-description{
    color:#737272;
}
.self-details .download-cv-btn{
    padding:20px 36px;
    background: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    color:#fff;
    outline: none;
    border:0;
    margin-top: 40px;
}
/* About Color Text Style */
.about-me .about-color-text{
    color:orange;
}
/* About Bar Styles */
.about-me .about-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.about-bar-left{
   width: 100px;
   height: 4px;
   background: orange;
   border-radius:2px 0 0 2px ;
}
.about-bar-right{
   width: 100px;
   height: 4px;
   background: #111;
   border-radius: 0 2px 2px 0;
}
/* Life Of Failures Section Styles */
.failures {
    margin-top: 130px;
}
.failures .person-img{
    margin-right: 87px;
}
.failures .failures-text{
    padding-top: 200px;
}
.failures .failures-content {
    display: flex;
    align-items: center;
}
.failures .failures-title {
    font-size: 40px;
    font-weight: 700;
    padding-right: 130px;
    margin-bottom: 24px;
}
.failures .failures-description{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin-bottom: 16px;
    padding-right: 160px;
}
.failures ul li{
    list-style: none;
    margin-bottom: 8px;
}
.failures .check-icon{
    color:#16D887;
    margin-right: 5px;
}
/* Plan Section Styles */
.plan-section .my-plan{
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.plan-section .plan-content{
    display: flex;
    justify-content: space-between;
}
.plan-content .plan-item{
    text-align: center;
}
.plan-section .plan-title{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}
.plan-section .plan-description{
    font-size: 25px;
    font-weight: 500;
    color:#737272;
}
/* Calling Section Styles */
.calling-section{
    background-image:url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    margin-bottom: 130px;
    position: relative;
    border-radius: 5px;
}
.calling-section::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: linear-gradient(100deg, #065494 0%, rgba(3, 184, 255, 0) 100%);
    border-radius: 5px;
}
.calling-content{
    display: flex;
    padding: 64px;
    position: relative;
    z-index: 1;
}
.calling-section .calling-text{
    width: 460px;
}
.calling-section .calling-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    color:#ffffff;
}
.calling-section .call-now{
    padding: 20px 36px;
    background:#ffffff;
    border-radius: 5px;
    color:#005FAC;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}
/* Footer Section Styles */
.footer-section{
    background: #111;
    color:#fff;
    padding-top: 130px;
    padding-bottom: 130px;
}
.footer-content{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}
.footer-section .footer-title{
    font-size: 45px;
    font-weight: 700;
    color:#f8f8f8;
}
.footer-section .footer-title{
    margin-bottom: 16px;
}
.footer-section .footer-description{
    font-size: 16px;
    font-weight: 400;
    padding-right: 360px;
    margin-bottom: 24px;
}
.footer-section .contact-mail{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.footer-section .contact-ph{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.footer-icon img{
    margin-right: 18px;
}
.footer-section .subscribe-title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}
.footer-subscribe{
    width: 550px;
}
.footer-subscribe input{
    width: 100%;
    padding:21px 0 21px 21px;
    font-size: 18px;
    border: 1px solid #fff;
    background: none;
    border-radius: 5px;
    color:#fff;
    margin-bottom: 16px;
    outline: none;
}
.footer-subscribe input::placeholder{
    color:#f1f1f1;
}
.footer-subscribe .subscribe-btn{
    padding:20px 36px;
    background: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    color:#fff;
    outline: none;
}